<div class="container header">
  <h1>GWARstagRAM!!!</h1>
</div>
<div class="container form">
  <h3>Create New Sacrifice</h3>
  <%= render 'form', entry: @entry %>
</div>
<div id="entires-list" class="containter">
  <% @entries.each do |entry| %>
    <%= render partial: 'entry', object: entry %>
  <% end %>
</div>
